<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ asset('CSS/style.css') }}">
    <link rel="icon" href="{{ asset('icons/logo-Marianne-300x194.jpg') }}">
    <title>Riasec</title>
</head>
<header>
    <div class="images">
        <img src="{{ asset('img/Marianne.png') }}" alt="" id="marianne">
        <img src="{{ asset('img/Defense_mobilisation.png') }}" alt="" id="cmfp">
        <img src="{{ asset('img/logo-defensemobilite-generique_0.jpg') }}" alt="" id="mobilite">

    </div>


</header>
<body>
    <nav>
        {% if is_granted('ROLE_ADMIN')%}
            <ul>
                <li><a href="{{ path('admin') }}">DASHBOARD</a> </li>
            </ul>
        {% endif %}
        {% if not app.user %}
            <ul>
                <li><a href="{{ path('app_login') }}">Login</a> </li>
            </ul>
        {% endif %}
        {% if app.user %}
            <ul>
                <li><a href="{{ path('app_logout') }}">Deconnection</a> </li>
            </ul>
        {% endif %}

    </nav>
{% block head %}{% endblock %}
{% block body %}{% endblock %}
</body>
</html>